# Ignore All output files, for they are too large
result/**
test/**

# Package Files #
*.jar
*.war
*.ear

# Production files
*.class



### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


### Intellij Idea ###

# Can be savely ignored according to intellij official guide
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/tasks.xml

# Auto generated for maven
**/*.iml
.idea/modules.xml
.idea/libraries/*

# TBC

test/

html/
